Repository surya-gelli/basixs-jenkins-test: changes, and which Jenkins stages are due for each by the changed paths.
All: rollback, slack

rollback:
  					steps
  					{
  						script 
  						{
  							if (env.BRANCH_NAME == 'master') 
  							{
  								sh """ echo "Hello world" """
  							}
  							else 
  							{
  								sh """ echo "Hello from development" """
  							}
  						}
  					}
  				

slack:
  					steps
  					{
  						script
  						{
  							if (env.BRANCH_NAME == 'master') 
  							{
  								sh """ echo "Hello world" """
  							}
  							else 
  							{
  								sh """ echo "Hello from development" """
  							}
  						}
  					}
  				

updated lambdas
  Jenkinsfile
Due: none

update slack
  lambdas/slack/lambda_slacknotify.py
Due: slack

updated jenkinsfile
  Jenkinsfile
Due: none

update rollback
  lambdas/rollback/ECSRollbackfunction.py
Due: rollback

update jenkinsfile
  Jenkinsfile
Due: none

updated files
  Jenkinsfile
  lambdas/rollback/ECSRollbackfunction.py
  lambdas/slack/lambda_slacknotify.py
Due: rollback, slack

updated files
  Jenkinsfile
Due: none

updated files
  lambdas/rollback/ECSRollbackfunction.py
  lambdas/slack/lambda_slacknotify.py
Due: rollback, slack

updated files
  Jenkinsfile
  lambdas/slack/lambda_slacknotify.py
Due: slack

updated files
  lambdas/slack/lambda_slacknotify.py
Due: slack

updated files
  Jenkinsfile
  lambdas/rollback/ECSRollbackfunction.py
Due: rollback

updated files
  lambdas/rollback/ECSRollbackfunction.py
Due: rollback

Path conditions:
  rollback: any of: lambdas/rollback/**
  slack: any of: lambdas/slack/**
