Repository surya-gelli/basixs-jenkins-test: changes, and which Jenkins stages are due for each by the changed paths.
All: rollback, slack

rollback:
  					steps
  					{
  						script 
  						{
  							if (env.BRANCH_NAME == 'master') 
  							{
  								sh ''' cd lambdas/rollback/ && cat ECSRollbackfunction.py '''
  							}
  							else 
  							{
  								sh ''' echo "Hello from development" '''
  							}
  						}
  					}
  				

slack:
  					steps
  					{
  						script
  						{
  							if (env.BRANCH_NAME == 'master') 
  							{
  								sh ''' cd lambdas/slack && cat lambda_slacknotify.py '''
  							}
  							else 
  							{
  								sh ''' echo "Hello from development" '''
  							}
  						}
  					}
  				

updated files
  lambdas/slack/lambda_slacknotify.py
Due: slack

updated files
  Jenkinsfile
  lambdas/slack/lambda_slacknotify.py
Due: slack

updated files
  Jenkinsfile
Due: none

updated files
  Jenkinsfile
  lambdas/rollback/ECSRollbackfunction.py
Due: rollback

updated files
  .vscode/settings.json
  Jenkinsfile
Due: none

updated files
  lambdas/rollback/ECSRollbackfunction.py
Due: rollback

updated files
  Jenkinsfile
  lambdas/rollback/ECSRollbackfunction.py
  lambdas/slack/lambda_slacknotify.py
Due: rollback, slack

updated files
  lambdas/rollback/ECSRollbackfunction.py
  lambdas/slack/lambda_slacknotify.py
Due: rollback, slack

update in slack
  lambdas/slack/lambda_slacknotify.py
Due: slack

update in slack
  Jenkinsfile
  lambdas/rollback/ECSRollbackfunction.py
  lambdas/slack/lambda_slacknotify.py
Due: rollback, slack

updated slack
  lambdas/slack/lambda_slacknotify.py
Due: slack

updated rollback
  lambdas/rollback/ECSRollbackfunction.py
Due: rollback

updated rollback
  Jenkinsfile
  lambdas/rollback/ECSRollbackfunction.py
Due: rollback

updated rollback
  Jenkinsfile
  lambdas/rollback/ECSRollbackfunction.py
  lambdas/slack/lambda_slacknotify.py
Due: rollback, slack

updated rollback
  Jenkinsfile
  lambdas/slack/lambda_slacknotify.py
Due: slack

updated rollback
  Jenkinsfile
Due: none

Path conditions:
  rollback: any of: lambdas/rollback/**
  slack: any of: lambdas/slack/**
